
@{
	ViewData["Title"] = "Game";
	ViewBag.number = 0;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<div id="content">

	<table id="ft">
		<thead>
			<tr>
				<th> Команда --</th>
				<th> Топливо --</th>
				<th> Ник игрока --</th>
				<th> Сила/Интеллект --</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < ViewBag.i; i++)
			{
				<tr>
					<th>
						@ViewBag.users[i, 0]
					</th>
					<th id="1-@i">
						@ViewBag.users[i, 1]
					</th>
					<th>
						@ViewBag.users[i, 2]
					</th>
					<th id="2-@i">
						@ViewBag.users[i, 3]
					</th>
				</tr>
			}
		</tbody>
	</table>
</div>

<script>
	var number = 1;

	setInterval(metod, 5000);

	function metod() {
		$.ajax({
			type: "GET",
			url: "/Game/Stats",

			success: function (result) {

				for (var i = 0; i < @ViewBag.i ; i++) {
					$("#1-" + i).empty();
					$("#1-" + i).append(result[i][0]);
					$("#2-" + i).empty();
					$("#2-" + i).append(result[i][1]);
				}

			}
		});

		$.ajax({
			type: "GET",
			url: "/Tick/GetTick",
			data: { number: number },

			success: function (result) {

				if (result != "") {
					$("#content").append(result);
					number++;
				}
			}
		});
	}
</script>

<style>
	#ft {
		background-color: darkgray;
		position: fixed;
		left: 0;
		border: solid 1px;
	}

	#content {
		margin-left: 0;
		width: 50000px;
	}

	table {
		float: left;
		margin-left: 10px;
		text-align: center;
	}

	tr {
		height: 30px;
		border-bottom: solid 1px;
	}

	th {
	}
</style>

<div style="float: none; clear: both"></div>