
@{
	ViewData["Title"] = "Игра";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<h2 id="warning"></h2>
<h3>Ваш nickname: @ViewBag.nickname</h3>

<div id="moves">
	<span class="btn" onclick="move = 'powerup'; choose = 'Усилиться'; Confirme()">Усилиться</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'intellectup'; choose = 'Обучиться'; Confirme()">Обучиться</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'gather'; choose = 'Добыть'; Confirme()">Добыть</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'attackgroup'; choose = 'Атаковать группу'; selectTeam()">Атаковать группу</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'attackrocket'; choose = 'Атаковать ракету'; Confirme()">Атаковать ракету</span>
	</br>
	</br>
	<span class="btn" onclick="move = 'gift'; choose = 'Дарить'; selectTeam()">Дарить</span>
	</br>
	</br>
	<span id="getinrocket" class='btn' onclick="move = 'getinrocket'; choose = 'Сесть в ракету'; Confirme()">Сесть в ракету</span>
	</br>
	</br>
</div>
<div id="teams">
</div>
<div id="res">
	<h1 id="msg">@ViewBag.key</h1>
</div>


@*<span id="kk" class="btn" onclick="$('#kk').hide(); $('#k').show(); $('#k2').show(); $('#k1').show(); $('#kp').show()">Показать поле ввода ключа</span></br>*@

<h3 id="kp">Ключ игрока: </h3>


@*<input id="k" type="text" value="@ViewBag.key" oninput="io()" /></br>

	<a id="k1" href="/Home/Game?Key=" class="btn">Подтвердить</a></br></br>

	<p id="k2" class="info">Если поле пустое, введите ключ игрока (из Email) и нажмите "Подтвердить"</p>*@

<h3>Таблица результатов:</h3>
<div id="cont" style="margin-top: 0px;">
	<table class="card stst" id="table1" style="background-color: darkgray">
		<thead>
			<tr>
				<th> Ком(Т) </th>
				<th> Ник </th>
				<th> С/И </th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < ViewBag.i; i++)
			{
				<tr>
					<th id="0-@i">
						@ViewBag.users[i, 0]
					</th>
					<th>
						@ViewBag.users[i, 2]
					</th>
					<th id="1-@i">
						@ViewBag.users[i, 3]
					</th>
				</tr>
			}
		</tbody>
	</table>

	<div id="content">
	</div>
</div>

<script>

	setInterval(metod, 7000);

	function metod() {
		$.ajax({
			type: "GET",
			url: "/Game/Stats",

			success: function (result) {

				for (var i = 0; i < @ViewBag.i ; i++) {
					$("#0-" + i).empty();
					$("#0-" + i).append(result[i][0]);
					$("#1-" + i).empty();
					$("#1-" + i).append(result[i][1]);
				}

			}
		});

		$.ajax({
			type: "GET",
			url: "/Tick/GetTick",
			data: {type: 0},

			success: function (result) {

				if (result != "") {
					$("#content").empty();
					$("#content").append(result);
				}
			}
		});
	}
</script>

<style>

	.stst {
		white-space: nowrap;
		float: left;
	}

	.stst1 {
		white-space: nowrap;
	}

	body {
		margin: 0;
		display: flex;
		justify-content: center;
	}

	.card {
		white-space: nowrap;
	}

	#cont {
		background-color: #fff;
		min-height: 200px;
		max-width: 100%;
		-webkit-overflow-scrolling: touch;
		margin-top: 0px;
	}

	#content {
		background-color: #fff;
		min-height: 200px;
		max-width: 100%;
		display: flex;
		overflow-x: auto;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		margin-top: 0px;
	}

	.ft {
		background-color: darkgray;
		border: solid 1px;
	}

	tr {
		height: 30px;
		border-bottom: solid 1px;
	}

	th {
		min-width: 20px;
		border-left: solid 1px;
		border-right: solid 1px;
		border-top: solid 1px;
		text-align: center;
	}
</style>

<link href="~/css/site.css" rel="stylesheet">

<div style="float: none; clear: both"></div>

<div>
	<h2>
		Обозначение действий:
	</h2>
	<p>
		У — усилиться </br>
		О — обучиться </br>
		Т — добыть топливо </br>
		Д — дарить </br>
		А — атаковать группу </br>
		АР — атаковать ракету </br>
		Р — сесть в ракету </br>
	</p>
    <p>
        Обозначение команд: </br>
        К(0) — красные (0 топлива) </br>
        З(10) — зеленые (10 топлива) </br>
        С(23) — синие (23 топлива) </br>
        Ж(0) — желтые (0 топлива) </br>
        Ф(0) — фиолетовые (0 топлива) </br>
    </p>
	<p>
		Обозначения результатов: </br>
		ДК:V — подарил красной команде, успешно </br>
		ДЗ:X — подарил зеленой команде, провал </br>
		АС:W — атаковал синих, победа </br>
		АЖ:L — атаковал желтых, поражение </br>
		АР:W — атаковал ракету, победа </br>
		АР:L — атаковал ракету, поражение </br>
		Р — сел в ракету, но не хватило силы + интеллекта или топлива у команды </br>
		Р:В — сел в ракету, но был выбит </br>
		Р:П — сел в ракету и победил </br>
	</p>
</div>

<div id="modal">

</div>

<div class="modal-overlay" id="modal-overlay"></div>

<script type="text/javascript">
	var move = "s";
	var choose = "s";
	var opt = "";
	var team = "0";
	var checkk = true;
	var table = true;
	var isfin = true;

	var proces = true;
	$('#modal').hide();
	$('#modal-overlay').hide();
	$('#kk').hide();
	$("#moves").hide();
	$("#teams").hide();
	$("#msg").empty();
	$("#msg").append("Игра еще не началась");

	setInterval(check, 7000);

	var chk = true;

	function check() {
		$.ajax({
			type: "GET",
			url: "/Game/TimeCheck",

			success: function (result) {
			}
		});

		$.ajax({
			type: "GET",
			url: "/Game/LastTickCheck",

			success: function (result) {
				if (result && chk) {
					$("#warning").append("ПОСЛЕДНИЙ ТАКТ");
					chk = false;
				}
			}
		});

		$.ajax({
			type: "GET",
			url: "/Game/KeyCheck",
			data: { Key: @ViewBag.key },

			success: function (result) {
				if (result) {

					if (!checkk) {
						return;
					}

					$.ajax({
						type: "GET",
						url: "/Game/RocketCheck",
						data: { Key: @ViewBag.key },

						success: function (result) {
							if (result) {
								$("#getinrocket").show();
							}
							else {
								$("#getinrocket").hide();
							}
						}
					});

					$.ajax({
						type: "GET",
						url: "/Game/MoveCheck",
						data: { Key: @ViewBag.key },

						success: function (result) {
							if (result == "Ход не сделан") {

								if (table) {
									metod();
								}


								$("#msg").hide();
								$("#teams").hide();
								$("#moves").show();

								table = false;
							}
							else if (result == "Выжившие улетели!" || result == "Все погибли!") {
								$.ajax({
									type: "GET",
									url: "/Game/GameResult",

									success: function (result1) {
										if (result1 != "NotFinished" && isfin) {
											alert(result1);

											table = true;

											$("#msg").empty();
											$("#msg").append(result1);
											$("#msg").show();
											$("#teams").hide();
											$("#moves").hide();
											isfin = false;
										}
									}
								});
							}
							else {
								table = true;
								$("#msg").empty();
								$("#msg").append(result);
								$("#msg").show();
								$("#teams").hide();
								$("#moves").hide();
							}
						}
					});
				}
				else {
					$("#teams").hide();
					$("#moves").hide();
					$("#msg").empty();
					$("#msg").show();
					$("#msg").append("Неверный ключ");
				}
			}
		});
	}

	function selectTeam() {
		$.ajax({
			type: "GET",
			url: "/Game/TeamList",
			data: { Key: @ViewBag.key },

			success: function (result) {
				checkk = false;
				$("#moves").hide();
				$("#msg").hide();

				$("#teams").empty();
				$("#teams").show();
				//$("#teams").append(result);

				//alert(result[1].teamId);

				var i = 0;
				for (var item in result) {
					$("#teams").append("<span class='btn' onclick=\"team = " + result[i].teamId + "; checkk = true;choose += '" + result[i].name + "'; Confirme()\">" + result[i].name + "</span></br></br>");
					i++;
				}
				$("#teams").append("<span class='btn' onclick='checkk = true;$(\"#moves\").show();$(\"#teams\").hide();'>Отменить</span></br></br>");
			}
		});
	}

	function makeMove() {
		$.ajax({
			type: "GET",
			url: "/Game/Make",
			data: { Type: move, Key: @ViewBag.key, TeamId: team },

			success: function (result) {

				$("#moves").hide();
				$("#teams").hide();

				$("#msg").empty();
				$("#msg").show();
				$("#msg").append(result);
			}
		});
	}

	function Confirme() {
		checkk = false;
		$("#moves").hide();
		$("#teams").empty();
		$("#teams").show();
		$("#modal").empty();
		$("#modal").show();

		$("#modal-overlay").show();
		$("#modal").append("Ваше действие: " + choose + "<br>")
		$("#modal").append("<a><span class='btnn' onclick='checkk = true;$(\"#moves\").show();$(\"#teams\").hide();$(\"#modal\").hide();$(\"#modal-overlay\").hide();' style='background-color: red'>Отменить</span></a>");
		$("#modal").append("<a><span class='btnn' onclick='checkk = true;makeMove();$(\"#teams\").hide();$(\"#modal\").hide();$(\"#modal-overlay\").hide();' style='background-color: green'>Подтвердить</span></a></br></br>");
	}

		$.ajax({
			type: "GET",
			url: "/Game/KeyCheck",
			data: { Key: @ViewBag.key },

			success: function (result) {
				if (result) {

					if (!checkk) {
						$("#kk").hide();

						$("#kp").show();
						$("#k1").show();
						$("#k2").show();
						$('#k').show();
						return;
					}
					$("#kk").show();

					$("#kp").hide();
					$("#k1").hide();
					$("#k2").hide();
					$('#k').hide();

					$.ajax({
						type: "GET",
						url: "/Game/RocketCheck",
						data: { Key: @ViewBag.key },

						success: function (result) {
							if (result) {
								$("#getinrocket").show();
							}
							else {
								$("#getinrocket").hide();
							}
						}
					});

					$.ajax({
						type: "GET",
						url: "/Game/MoveCheck",
						data: { Key: @ViewBag.key },

						success: function (result) {
							if (result == "Ход не сделан") {

								if (table) {
									metod();
								}


								$("#msg").hide();
								$("#teams").hide();
								$("#moves").show();

								table = false;
							}
							else {
								table = true;
								$("#msg").empty();
								$("#msg").append(result);
								$("#msg").show();
								$("#teams").hide();
								$("#moves").hide();
							}
						}
					});
				}
				else {
					$("#teams").hide();
					$("#moves").hide();
					$("#msg").empty();
					$("#msg").show();
					$("#msg").append("Неверный ключ");
				}
			}
	});

</script>

<style type="text/css">

	.modal-overlay {
		opacity: 0.5;
		background-color: black;
		z-index: 1000;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.btn {
		min-width: 20%;
		min-height: 20px;
		background-color: gray;
		border-radius: 200px;
		padding: 5px;
		float: left;
		color: white;
	}

	.btnn {
		min-width: 20%;
		min-height: 20px;
		background-color: gray;
		border-radius: 200px;
		padding: 5px;
		float: left;
		color: white;
		margin: 10px;
	}

	.info {
		color: gray;
	}

	#modal {
		margin-left: auto;
		margin-right: auto;
		padding: 15px;
		z-index: 1010;
		top: 25%;
		display: block;
		position: fixed;
		background-color: white;
	}
</style>
