@model RocketGame.Models.Setting
@{
	ViewData["Title"] = "Настройки игры";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<div class="container">
	<div class="row">
		<col-6>
			<h1>@ViewBag.msg</h1>
			<form asp-controller="Home" asp-action="Setting" asp-route-key="@ViewBag.Key" method="post">

				</br>
				<label>Время одного такта в минутах</label>
				</br>
				@Html.TextBoxFor(n => n.TimeTick, new { id = "i1" })
				</br>
				<label>Время игры в минутах</label>
				</br>
				@Html.TextBoxFor(n => n.TimeGame, new { id = "i2" })
				</br>
				<label>Количество команд</label>
				</br>
				@Html.TextBoxFor(n => n.TeamCount, new { id = "i3" })
				</br>
				<label>Игроков в команде</label>
				</br>
				@Html.TextBoxFor(n => n.TeamSize, new { id = "i4" })
				</br>
				<label>Количество мест в ракете</label>
				</br>
				@Html.TextBoxFor(n => n.RocketSize, new { id = "i5" })
				</br>
				<label>Необходимое для ракеты топливо</label>
				</br>
				@Html.TextBoxFor(n => n.RocketFuel, new { id = "i6" })
				</br>

				<input type="submit" value="Создать игру" class="btn" />
			</form>
		</col-6>
	</div>
</div>

<script>
	document.getElementById("i1").value = "5";
	document.getElementById("i2").value = "60";
	document.getElementById("i3").value = "5";
	document.getElementById("i4").value = "7";
	document.getElementById("i5").value = "4";
	document.getElementById("i6").value = "40";
</script>

<script>
	localStorage.setItem("Key", @ViewBag.Key);
</script>