@model IEnumerable<RocketGame.Models.User>

@{
	ViewData["Title"] = "ShowUsers";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<div id="main">
	<h2>Секретный код - @ViewBag.Promo</h2>

	<a asp-area="" asp-controller="Tick" asp-action="Game" target="_blank" class="navbar-brand">Открыть таблицу результатов</a>

	<table>
		<thead>
			<tr>
				<th>
					Команда
				</th>
				<th>
					Код
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (string item in ViewBag.Promos)
			{
				<tr>
					<th>
						@ViewBag.Names[ViewBag.Promos.IndexOf(item)]
					</th>
					<th>
						@item
					</th>
				</tr>
			}
		</tbody>
	</table>

	<a href="/Home/ShowUsers?Key=@ViewBag.Key">Обновить</a>

	<a id="s"><span onclick="makeMove(); $('#s').empty(); $('#s').append('Нажмите обновить')">Начать игру</span></a>

	<h1 id="msg"></h1>

	<div id="teams">
	</div>

	<div id="users">
	</div>

</div>

<table class="table" id="t">
	<thead>
        <tr>
            <!--
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Intellect)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Power)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.InRocket)
    </th>
        -->
            <th>
                Команда
            </th>
            <th>
                Никнейм
            </th>
            <th>
                Имя
            </th>
            <th>
                Ключ
            </th>
            <th></th>
            <th></th>
        </tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
        <tr>
            <td>
                @item.Team.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealName)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InRocket)
            </td>
    -->
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td id="k-@item.Key">
                <span class="btn" onclick="selectOwner('@item.Key')">Сделать дублем</span>
            </td>
            <td id="t-@item.Key">
                <span class="btn" onclick="selectTeam('@item.Key')">Изменить команду</span>
            </td>
        </tr>
		}
	</tbody>
</table>

<script>
	var end = "Игра окончена - <a href='..//Test.xlsx' download>Скачать таблицу</a>"

	$("#users").hide();

	function selectOwner(kkey) {
		$.ajax({
			type: "GET",
			url: "/Home/GetUsers",
			data: { Key: kkey },

			success: function (result) {

				$("#users").empty();
				$("#users").show();

				var i = 0;
				for (var item in result) {
					$("#users").append("<span class='btn' onclick=' = editKey(" + kkey + "," + result[i][1] + "); '>" + result[i][0] + "</span></br></br>");
					i++;
				}
			}
		});
	}

	setInterval(check, 5000);

	var f = true;

	function check() {
		$.ajax({
			type: "GET",
			url: "/Game/GameCheck",

			success: function (result) {

				if (result == "Игра закончилась") {
					if (f) {
						$("#main").empty();
						$("#main").append(end);
						f = false;
					}
				}
			}
		});
	}

	$("#teams").hide();

	function selectTeam(key) {
		$.ajax({
			type: "GET",
			url: "/Game/GroupList",

			success: function (result) {

				$("#teams").empty();
				$("#teams").show();

				var i = 0;
				for (var item in result) {
					$("#teams").append("<span class='btn' onclick='editTeam(\"" + key + "\", \"" + result[i].teamId + "\")'>" + result[i].name + "</span></br></br>");
					i++;
				}
			}
		});
	}

	function editTeam(key, team) {
		$.ajax({
			type: "GET",
			url: "/Home/EditUserTeam",
			data: { Key: key, Team: team },

			success: function (result) {
				$("#msg").empty();
				$("#msg").append("Новый ключ - " + result);

				$("#teams").hide();
			}
		});
	}

	function editKey(key, userId) {
		$.ajax({
			type: "GET",
			url: "/Home/EditUserKey",
			data: { Key: key, UserId: userId },

			success: function (result) {
				$("#msg").empty();
				$("#msg").append(result);

				$("#users").hide();
				$("#t-" + key).empty();
				$("#k-" + key).empty();
				$("#t-" + key).append("<span class='btn' onclick=\"selectTeam('" + result + "')\">Изменить команду</span>");
				$("#k-" + key).append("<span class='btn' onclick=\"editKey(\'" + result + "')\">Изменить ключ</span>");

				var idd = "t-" + result;
				document.getElementById("t-" + key).id = idd;
				idd = "k-" + result;
				document.getElementById("k-" + key).id = idd;
			}
		});
	}

	function makeMove() {
		$.ajax({
			type: "GET",
			url: "/Game/StartGame",

			success: function (result) {
				$("#s").empty();
				$("#s").append("<h2>" + result + "</h2>");
			}
		});
	}

	$(document).ready(function () {
		$.ajax({
			type: "GET",
			url: "/Game/GameCheck",
			success: function (result) {
				if (result == "Игра началась") {
					$("#s").empty();
					$("#s").append("<h2>Игра началась</h2>");
				}
			}
		})
	});
</script>

<style type="text/css">
	.btn {
		min-height: 20px;
		background-color: gray;
		border-radius: 200px;
		padding: 5px;
		float: left;
		color: white;
	}
</style>